.invest-badge {
  width: max-content;
  padding: 4px 14px;
  margin-bottom: 5px;
}
.invest-heading,
.invest-badge {
  transform: translate3d(0, 40px, 0);
  opacity: 0;
  transition: 0.7s;
}

.invest-heading {
  max-width: 502px;
  margin-bottom: 48.8px;
}

.invest-subheading {
  margin-bottom: 21px;
}

.scan-icon-wrapper {
  padding: 12px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
}

.start-button {
  width: 294px;
  height: 52px;
  background: linear-gradient(90deg, rgb(187, 139, 255), $primary);
  margin-top: 30px;
}

.invest-left {
  margin-left: auto;
  margin-right: 98px;
}

.scan-svg {
  opacity: 0;
  transition: all 1s ease;
  transform: translate(0, 150px);
}

.active-animated {
  opacity: 1;
  transform: translateY(0);
}

.total-scan-svg {
  opacity: 0;
  transition: all 1s ease;
  transform: translate(42.561px, 70px);
}

.active-animated-total-scan {
  opacity: 1;
  transform: translate(42.561px, 11.88px);
}

.my-wallet-svg {
  opacity: 0;
  transition: all 1s ease;
  transform: translate(142.32px, 110px);
}

.active-animated-my-wallet {
  opacity: 1;
  transform: translate(142.32px, 57.836px);
}

.invest-section-heading {
  opacity: 0;
  transition: all 1s ease;
  transform: translate(0, 110px);
}

.active-animated-invest-section {
  opacity: 1;
  transform: translate(0);
}

@include media-breakpoint-down(sm) {
  .invest-subheading {
    justify-content: center;
  }
  .start-button {
    width: 100%;
  }
}

.animated-bade,
.animated-invest-heading {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
