.space{
  background-image: url("../assets/images/Arrows.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 713px;
}
main h1{
  font-size: $font-size-3xl;
}
main h3{
  font-size: $font-size-2xl;
  color: #373737;
  font-weight: 400;
}
/* Progress bar*/
.g-container{
  width: 640px;
  height: 52px;
  background-color: #D1D1D1;
  border-radius: 4px;
}
.g-progress{
  width: 80%;
  height: inherit;
  background-image: linear-gradient(to right, #BB8BFF , #974DC8);
  border: 6px solid #D1D1D1;
  border-radius: 10px;
}
main h2{
  color: #6C757D;
  font-weight: 700;
}
.btn-one{
  width: 180px;
  height: 52px;
  font-size: $font-size-md;
  color: white;
  background-image: linear-gradient(to right, #BB8BFF , #974DC8);
  font-weight: 500;
  border: none;
  border-radius: 4px;
  margin: 10px;
}
.btn-two{
  width: 180px;
  height: 52px;
  font-size: $font-size-md;
  color: #505050;
  background-color: unset;
  font-weight: 500;
  border: 1px solid rgba(108, 117, 125, 50%);
  border-radius: 4px;
  margin: 10px;
}
/*Transction Card*/
.t-container{
  width: 260px;
  height: 110px;
  margin-top: 80px;
  border: 1px solid rgba(186, 136, 253, 48%);
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 1;
 transition: opacity 2s ease-in-out ;
  transition: margin 2s ease-in-out;
  animation: fadeIn 3s infinite;
}
.t-span{
  color: #48CF70;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
}
.equ{
  color: #3D3D3D;
  font-weight: 700;
}
.card-text-l{
  color: rgba(0, 0, 0, 48%);
  background-color: rgba(0, 0, 0, 6%);
  border-radius: 4px;
  padding: 2px;
}
.card-text-r{
  color: rgba(61, 61, 61, 50%);
}
/*Icons*/
.m-icons{
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.img-icon{
  cursor: pointer;
  margin: 20px;
  object-fit: cover;
  padding: 5px;
}
.img-icon path{
  fill: #6C757D ;
}
.img-icon:hover{
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}
.svg1:hover path{
  fill: #1c1e1d ;
}
.img-icon:hover #Path_380,
.img-icon:hover #Path_383,
.img-icon:hover #Path_384{
  fill: #633001;
}
.img-icon:hover #Path_381
{
  fill: #fedc90;
}
.img-icon:hover #Path_382{
  fill: #d1884f;
}
.svg2:hover path{
  fill: #000000;
}
.svg3:hover path{
  fill: #ffbe40 ;
}

@media (max-width: 768px) { 
  .space{
    height: 600px;
  }
  main h1{
    /*32px*/
    font-size: 2rem;
  }
  main h2{
    /*16px*/
    font-size: 1rem;
  }
  main h3 {
    font-size: $font-size-lg;
  }
  /* Progress bar*/
  .g-container{
    width: 300px;
    height: 50px;
  }
  .btn-one{
    font-size: 1rem;
    width: 160px;
    height: 52px;
  
  }
  .btn-two{
    font-size: 1rem;
    width: 160px;
    height: 52px;
  }
  /*Icons*/
  .c-header{
    font-size: $font-size-lg;
    font-weight: 700;
    color: #373737;
    text-align: center;
  }
 }

@keyframes fadeIn {
  0%{ opacity: 0;
    margin-left: 20px; }

  20%{ opacity: 1;
    margin-left: 10px;}
  
  40%{ opacity: 1;
    margin-left: 10px;}  
    
  60% { opacity: 1; 
    margin-left: 10px; }

  80% { opacity: 1; 
    margin-left: 10px; }
  
  100% { opacity: 0; 
    margin-left: 0; }
}