.referral-lable{
  color: #A5A5A5;
  font-size: 14px;
}
.copy-link{
  background-color: white;
  border: 1px solid #D6D6D6;
  border-radius: 6px;
  width: 360px;
}
.copy-link p{
  font-size: 14px;
  color: #9C3FE5;
}
.copy-svg{
  cursor: pointer;
}
.referrals-btn{
  width: 220px;
  height: 54px;
  font-size: 16px;
  color: white;
  background-color: #9C3FE5;
  border: none;
  border-radius: 4px;
}