// Font
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

html[lang*=ar] body{
  font-family: 'Readex Pro', sans-serif !important;
}

$primary: #a066dc;
$secondary: #373737;
$dark: #0000;
$muted: #6c757d;
$body-text: #6b6b6b;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "muted": $muted,
);

$custom-colors: (
  "body-text": $body-text,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "./variables/fonts";
@import "node_modules/bootstrap/scss/bootstrap";
@import "./custom";
@import "./Featured";
@import "./Footer";
@import "./Invest";
@import "./ContactInfo";
@import "./MainContent";
@import "./Navbar";
@import "./OurTeam";
@import "./Modal";
@import "./BuyAmount";
@import "./FinalModal";
@import "./ReferralsModal";