.t-header{
  font-weight: 500;
  color: #373737;
}
.circle{
  width: 190px;
  height: 190px;
  background-image: linear-gradient(to right, #BB8BFF , #974DC8);
  border-radius: 50%;
  border: 10px solid white;
  outline: 2px solid #E1E1E1;
}
.c-name{
  font-weight: 700;
  margin: 20px 0 ;
}