.TextLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TextLine h6 {
  font-size: 14px;
  color: #8b8b8b;
  margin: 0;
}

.TextLine p {
  font-size: 14px;
  color: #333;
  display: flex;
  margin: 0;
  align-items: center;
}

.TextLine p span {
  color: #888;
  margin: 0;
}

.nextBtn {
  width: 220px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  background-color: #0d162a;
  border-radius: 6px;
  margin: 20px auto 0;
  font-size: 16px;
}
.disabledBtn{
    background-color: #888 !important;
    color: #ccc;
    cursor: not-allowed;
}
.walletText {
  font-size: 14px;
  color: #a5a5a5;
}
.textItemWrapper {
  margin-top: 20px;
}
.contractaddress {
  height: 58px;
  border: 1px solid #35c486;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  background-color: rgba(53, 196, 134, 0.15);
  position: relative;
  margin-top: 7px;
  margin-bottom: 18px;
  /* padding-left: 20px;
    padding-right: 20px; */
}
.contractaddress p {
  height: 58px;
  line-height: 58px;
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 14px;
}
.contractaddress button {
  width: 25px;
  height: 25px;
  line-height: 20px;
  border: 1.5px solid #8b8b8b;
  position: absolute;
  right: 20px;
  padding: 0px !important;
}

.btn-next-container {
  position: absolute;
  bottom: 32px;
  width: 100%;
  left: 0px;
}
.balanceText {
  text-align: end;
  font-size: 14px !important;
  color: #23282c !important;
  margin-bottom: 7px;
  margin-top: 18px;
}
.claimImgwrapper {
  text-align: center;
  margin-bottom: 17px;
}

@media screen and (max-width: 576px) {
  .TextLine p {
    font-size: 12px;
  }
}
