.treeWrapper {
    position: relative;
    /* top: 0;
    left: 0;
    right: 0;
    background-color: #F9F9F9; */
}

.treeContainer {
    width: 480px;
    margin: 50px auto;
    background-color: #FDFDFD;
    padding-bottom: 66px;
    border-radius: 9px;
}

.shareWrapper {
    text-align: end;
    padding-top: 20px;
    padding-right: 20px;
}

.shareWrapper span {
    color: #8968E9;
    display: inline-block;
    text-align: start;
    width: 40px;
    font-size: 12px;
}


.info {
    text-align: center;
    margin-top: 14px;
}

.info h5 {
    font-size: 22px;
    color: #23282C;
    padding-top: 7px;
}

.info p {
    width: 308px;
    font-size: 12px;
    margin: auto;
    color: #6C757D;
}

.link-wrapper {
    width: 400px;
    height: 50px;
    border: 1px solid #D6D6D6;
    display: flex;
    align-items: center;
    border-radius: 9px;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-top: 15px;
    /*  */
    /* overflow-x: scroll;
    overflow-y: hidden; */
    /* width: 500px; */
    /* background-color: #1DA1F2; */
}

.iconWrapper {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 20px;
}

.iconWrapper a {
    width: 32px;
    height: 32px;
    border-radius: 9px;
    color: white !important;
    font-size: 18px;
    transition: all 0.5s;
}
.facebookIcon, .youtubeIcon, .instgramIcon, .twitterIcon, .tiktokIcon, .telegramIcon{
    background-color: #B1BACB;

}
.facebookIcon:hover {
    background-color: #1672E6;
}

.youtubeIcon:hover {
    background-color: #FF0000;
}

.instgramIcon:hover {
    background-color: #A63795;
}

.twitterIcon:hover {
    background-color: #1DA1F2;
}

.tiktokIcon:hover {
    background-color: #F12950;
}

.telegramIcon:hover {
    background-color: #58BDEF;
}

.link-wrapper .btn_title {
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    font-size: 12px;
    color: #23282C;
    height: 100%;
    line-height: 45px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.8s;
    /* test */
    /* width: 130%; */
}

.link-wrapper:hover {
    border-color: #8968E9;
}

.btn-share,
.link-btnShare {
    width: 32px;
    height: 32px;
    padding-top: 1px;
    padding-bottom: 4px;
    padding-inline: 2px 1px;
    border-radius: 9px;
    /* color: white !important; */
    border: none;
    outline: none;
    background-color: rgba(138, 105, 235, 0.1);
}

.link-btnShare {
    position: absolute;
    right: 10px;
    top: 8px;
    background-color: rgba(138, 105, 235, 0.1);
    opacity: 0;
    transition: all 0.5;
}

.link-btnShare svg>path {
    stroke: #8968E9 !important;
}

.link-wrapper:hover .link-btnShare {
    opacity: 1;
}





@media only screen and (max-width: 767px) {
    .treeContainer {
        width: 90%;
    }

    .facebookIcon {
        background-color: #1672E6;
    }

    .youtubeIcon {
        background-color: #FF0000;
    }

    .instgramIcon {
        background-color: #A63795;
    }

    .twitterIcon {
        background-color: #1DA1F2;
    }

    .tiktokIcon {
        background-color: #F12950;
    }

    .telegramIcon {
        background-color: #58BDEF;
    }

    .link-wrapper {
        width: 90%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .link-wrapper::-webkit-scrollbar {
        display: none
    }

    .link-btnShare {
        /* position: absolute; */
        right: 0px;
        transition: all 0.8s;
        background-color: #8968E9;
        height: 50px;
        top: 0;
        width: 50px;
        border: none;
        outline: none;
        padding-top: 1px;
        padding-bottom: 6px;
        border-radius: 0px;
    }

    .link-btnShare svg>path {
        stroke: #fff !important;
    }

    .swapContainer {
        width: 400px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .swapContainer .link-btnShare {
        opacity: 1;
    }

    /* .linksInMobile{
        background-color: #F12950 ;
    } */
}